fastapi
uvicorn[standard]

langchain
langchain-community
langchain-core

faiss-cpu

sentence-transformers

google-generativeai

pydantic

python-dotenv

pyyaml

numpy

pandas

tqdm

orjson

httpx

python-multipart
pytest