fastapi
uvicorn[standard]
sentence-transformers
faiss-cpu
numpy
python-dotenv
requests
pydantic
transformers
sentencepiece
torch
transformers
sentencepiece
torch
PyPDF2
pdfplumber
pytesseract
pdf2image
